* {
    padding: 0;
    margin: 0;
}


/*----- VARIABILI -----*/

:root {
    --colore-primario: black;
    --colore-linee-menu: grey;
    --fontsize-voci-menu: 30px;
    --fontsize-social: 25px;
    --colore-social: rgb(255, 255, 255);
    --colore-icone-menu: white;
    --fontsize-icone-menu: 40px;
    --colore-vetrina-macchina: #171717;
    --colore-testo-vetrine: white;
    --colore-elenco-macchine: white;
}


/*----- GENERALI -----*/

ul {
    padding-left: unset;
    margin-bottom: unset;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-bottom: unset;
}

h1 {
    text-transform: uppercase;
    margin-bottom: unset;
}


/*----- BODY -----*/

body {
    background-color: var(--colore-primario);
    font-family: "Montserrat", serif;;
}


/*----- HEADER -----*/

header .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

header .contenitore-icona-hamburger {
    display: flex;
    align-items: center;
}

header .menu-toggle span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--colore-social);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
    /* Linea centrale scompare */
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

header .contenitore-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    background-color: var(--colore-primario);
}

header .contenitore-menu {
    background-color: var(--colore-primario);
}

header .logo {
    min-height: 80px;
    min-width: 10px;
    height: 80px;
}

header .logo img {
    width: auto;
    height: 100%;
}

header .menu {
    display: flex;
    align-items: center;
    position: relative;
}

header .menu-hamburger {
    color: var(--colore-icone-menu);
    font-size: var(--fontsize-icone-menu);
    margin: auto;
}

header .menu-hamburger i {
    margin: auto;
}

header .chiusura-menu {
    color: var(--colore-icone-menu);
    font-size: var(--fontsize-icone-menu);
    width: 100%;
    text-align: end;
}

header .sottomenu {
    /* background-color: var(--colore-primario); */
    background-color: var(--colore-vetrina-macchina);
    position: absolute;
    /*     height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    /*     bottom: 0; */
    transform: translateY(-50%);
    transition: 1s ease-in-out;
    z-index: 2;
}

header .sottomenu.aperto {
    transform: translateY(50%);
}

header .sottomenu-voci {
    padding: 30px 10px;
    width: 100%;
}

header .sottomenu-voci li {
    font-size: var(--fontsize-voci-menu);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header .sottomenu-voci> :first-child {
    border-top: solid 1px var(--colore-linee-menu);
    border-bottom: solid 1px var(--colore-linee-menu);
}

header .sottomenu-voci a {
    width: 100%;
    display: block;
}

header .sottomenu-voci> :last-child {
    border-bottom: solid 1px var(--colore-linee-menu);
}

header .social {
    width: 100%;
    font-size: var(--fontsize-social);
    color: var(--colore-social);
    display: flex;
    justify-content: space-evenly;
}

header .social-contatti {
    width: 100%;
    text-align: right;
    margin-bottom: 30px;

}

header .email,
.telefono {
    display: flex;
    gap: 10px;
}

header .email {
    margin-left: 20px;
}

header .contatti {
    display: flex;
    justify-content: center;
    z-index: 3;
    position: relative;
    background-color: var(--colore-primario);
}

header .contatti a {
    display: flex;
    align-items: center;
    color: var(--colore-social);
}

header .contatti i {
    color: var(--colore-social);
}


/*----- MAIN -----*/

main {
    background-color: var(--colore-primario);
    margin: 70px 0;
}

main .immagine-home img {
    width: 100%;
    height: auto;
}

main .immagine-titolo {
    position: relative;
}

main .titolo {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
}

main .testo {
    color: white;
    margin: 20px 0;
}

/* vetrina macchina singola */

main h3 {
    width: 100%;
    text-align: center;
    margin: 50px 0 30px 0;
    color: var(--colore-elenco-macchine);
}

main .vetrina-macchina {
    border: solid 2px white;
    border-radius: 10px;
    background-color: var(--colore-vetrina-macchina);
    overflow: hidden;
    margin-bottom: 30px;
}

main .modello-macchina {
    width: 100%;
    text-align: center;
    color: var(--colore-testo-vetrine);
}

main .informazioni-macchina,
.prezzo-pulsante {
    padding: 8px;
}

main .vetrina-macchina {
    width: 100%;
}

main .vetrina-macchina img {
    width: 100%;
    height: auto;
}

main .informazioni {
    display: flex;
    justify-content: space-between;
}

main .informazione-singola {
    margin: 10px 0;
}

main .tipo-informazione {
    color: var(--colore-testo-vetrine);
    font-weight: 700;
}

main .informazione {
    color: var(--colore-testo-vetrine);
}

main .pulsante-informazioni {
    margin: 20px 0;
}

main .pulsante-informazioni a {
    border: solid 1px white;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
}


/*----- FOOTER -----*/

footer {
    background-color: var(--colore-primario);
    color: var(--colore-testo-vetrine);
}

footer h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* form */

footer .contenirore-form-footer input,
footer .contenirore-form-footer textarea {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

footer .contenirore-form-footer input:hover,
footer .contenirore-form-footer textarea:hover {
    border: solid 1px red;
}

footer .contenirore-form-footer input:focus,
footer .contenirore-form-footer textarea:focus {
    box-shadow: 0 0 10px 2px red;
}

footer form .bottone{
    background-color: white;
    color: black;
}

/* informazioni footer */

footer .informazioni-footer{
    border-top: solid 1px var(--colore-linee-menu);
    padding-top: 35px;
}

footer .logo-footer img {
    width: auto;
    height: 100%;
}

footer .logo-footer {
    height: 150px;
    text-align: center;
}   

footer .nome-azienda{
    margin-bottom: 15px;
}

footer .informazioni-azienda{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border-bottom: solid 1px var(--colore-linee-menu);  
    padding-bottom: 40px;
}

footer .social-footer{
    font-size: var(--fontsize-social);
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}