* {
    padding: 0;
    margin: 0;
}


/*----- VARIABILI -----*/

:root {
    --colore-header: black;
    --colore-linee-menu: grey;
    --fontsize-voci-menu: 30px;
    --fontsize-social: 25px;
    --colore-social: white;
    --colore-icone-menu: white;
    --fontsize-icone-menu: 40px;
}


/*----- GENERALI -----*/

ul {
    padding-left: unset;
    margin-bottom: unset;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


/*----- HEADER -----*/

header {
    background-color: var(--colore-header);
    position: relative;
}

header .contenitore-header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    min-height: 80px;
    min-width: 10px;
    height: 80px;
}

header .logo img {
    width: auto;
    height: 100%;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu-hamburger {
    color: var(--colore-icone-menu);
    font-size: var(--fontsize-icone-menu);
    margin: auto;
}

header .menu-hamburger i {
    margin: auto;
}

header .chiusura-menu{
    color: var(--colore-icone-menu);
    font-size: var(--fontsize-icone-menu);
    width: 100%;
    text-align: end;
}

header .sottomenu {
    background-color: var(--colore-header);
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 100%;
    top: 0;
    transition: 1s;
}

header .sottomenu-voci {
    width: 100%;
}

header .sottomenu-voci li {
    font-size: var(--fontsize-voci-menu);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header .sottomenu-voci> :first-child {
    border-top: solid 1px var(--colore-linee-menu);
    border-bottom: solid 1px var(--colore-linee-menu);
}

header .sottomenu-voci a {
    width: 100%;
    display: block;
}

header .sottomenu-voci> :last-child {
    border-bottom: solid 1px var(--colore-linee-menu);
}

header .social {
    width: 100%;
    font-size: var(--fontsize-social);
    color: var(--colore-social);
}

header .social-contatti {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

header .email,
.telefono {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

header .contatti a {
    display: flex;
    align-items: center;
}

header .contatti i {
    font-size: var(--fontsize-social);
    color: var(--colore-social);
}