/*------------------- VARIABILI -------------------*/

:root {
    --main-text-color: #F5EEE6;
    --main-bk-color: #131313;
    --header-padding: 1.5rem; /* PH */
    --header-font-size: 1rem;
    --header-gap: 3rem; /* GN */
    --font-size-title: 7rem;
    --font-size-descripton: 3rem ;
    --titolo-descrizione-margin: 8rem;
    --button-margin: 6rem;
    --lista-progetti-margin: 7rem;

}


/*------------------- BODY -------------------*/

body{
    background-color: var(--main-bk-color) !important;
}

a{
    text-decoration: none !important;
    color: var(--main-text-color) !important;
}


/*------------------- HEADER -------------------*/

header .logo a{
    font-weight: bold;
    text-transform: uppercase;
}

header{
    display: flex;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 3;
}

.menu-navigazione{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--main-text-color);
    padding: var(--header-padding) 0;
}

header .menu{
    display: flex;
    list-style: none;
    gap: var(--header-gap);
    margin-bottom: unset;
}

.menu a:hover{
    border-bottom: 1px solid var(--main-text-color);
}

header a{
    color: var(--main-text-color);
    text-decoration: none;
    font-size: var(--header-font-size);
}

.sfocatura{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 1;
    background-color: rgba(19, 19, 19, .15);
    backdrop-filter: blur(6px);
    z-index: -1;
}

/*------------------- MAIN -------------------*/


/* TITOLO E DESCRIZIONE */
.contenuto-descrittivo{
    background-image: url(img/francesco-ungaro-gkyAltPdtM8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.gradient-overlay {
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(19, 19, 19, 0) 0%, rgba(19, 19, 19, 1) 100%);
    pointer-events: none; /* Permette di cliccare sugli elementi sottostanti */
}

main .titolo-descrizione .contenuto{
    display: flex;
    justify-content: space-between;
    color: var(--main-text-color);
    font-size: var(--font-size-descripton);
    margin-top: var(--titolo-descrizione-margin);
}

main .titolo-descrizione-last{
    padding-bottom: var(--titolo-descrizione-margin);
}

main h1{
    font-size: clamp( 2rem, 7vw, var(--font-size-title)); /* TODO responsive */
}

main .titolo-descrizione{
    display: flex;
    flex-direction: column;
}

.bottone01{
    display: flex;
    justify-content: end;
    margin-top: var(--button-margin);
}

.bottone01 a{
    display: inline-block;
    padding: 5px 20px;
    color: var(--main-text-color);
    text-decoration: none;
    border: 1px solid var(--main-text-color);
    font-size: 2rem;
    border-radius: 20px;
}

.reverse{
    flex-direction: row-reverse;
}

/* LISTA PROGETTI HOME */

main .lista-progetti{
    color: var(--main-text-color);
    padding: var(--titolo-descrizione-margin) 0;
}

.lista-progetti h3{
    display: flex;
    justify-content: center;
}

main .progetto{
    display: flex;
    margin-top: var(--lista-progetti-margin);
    justify-content: space-between;
    transition: ease-in 3s;
}

.progetto-img {
    position: relative;
    transition: left 1s ease-in-out;
    left: 0;
}

.progetto-descrizione {
    position: relative;
    transition: left 1s ease-in-out;
    left: 0;
}

.progetto:hover .progetto-img {
    left: -23%;
}

.progetto:hover .progetto-descrizione {
    left: 26%;
}

.progetto-descrizione, .progetto-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------- FOOTER -------------------*/

footer{
    padding-top: var(--titolo-descrizione-margin);
    background-image: url(img/francesco-ungaro-gkyAltPdtM8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    color: var(--main-text-color);
}

.gradient-overlay2 {
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to top, rgba(19, 19, 19, 0) 0%, rgba(19, 19, 19, 1) 100%);
    pointer-events: none; /* Permette di cliccare sugli elementi sottostanti */
}